---
layout: default
title: About
permalink: /projects
---

.title-section
  %h1.title Projects
.project-filters-container
  %p.project-filter.project-filter-active All
  %p.project-filter Complete
  %p.project-filter In Progress
  %p.project-filter Idea Phase



{% for project in site.data.projects %}
%div.project-container
  %img{src: "{{ base.url | prepend: site.url }}/assets/images/dotfiles.png"}
  %div.project-title-container
    %a.project-card-title{href: "/projects/{{project.slug}}"} {{project.title}}
    %span.project-status-label STATUS:
    {% assign project_class = project.status| downcase | replace: ' ', '-'  %}
    %span.project-status-value{class: "project-status-{{ project_class }}"} &nbsp;{{project.status}}
  %a{href: "/projects/low-poly-fox.html"}
    %p {{ project.subtitle }}
  %div.project-tag-container
    {% for tag in project.tags %}
    %p.project-tag {{ tag }}
    {% endfor %}
{% endfor %}
