.title-section {
  margin-top: 50px;
  margin-bottom: 10px;
}

.title-line {
  border-bottom: 1px solid #efefef;
}
.bio {
  margin: 15px 0;
  font-family: lato;
  font-size: 18px;
  font-family: lato;
  color: #3e3e3e;
}
li.bio {
  margin: 3px;
  margin-left: 35px;
  font-family: lato;
}
.bio-link {
  color: #F06292;
}

.bio-link:hover {
  color: #C2185B;
}


@media only screen and (max-width: 600px) {
  .title-section {
    margin-top: 0;
  }
}
